@import "tailwindcss";

:root {
  --background: #fefefe;
  --font-body: "Standerd", sans-serif;
  --font-display: "TomatoGrotesk", sans-serif;
  --primary: #FF6B00;
  --secondary: #0E0E0E;
  --black-1:#060709;
}
@theme inline{
  --color-black-1:var(--black-1);
  --color-primary:var(--primary);
  --color-secondary:var(--secondary);
  --font-display:var(--font-display);
  --font-body:var(--font-body);

}
body {
  /* color: #111111; */
  width: 100%;
  height: 100%;
  font-family: var(--font-body);
  font-size: 1.15vw;
  line-height: 1.6;
  width: 100vw;
  overflow-x: hidden;
  background-color: #fefefe;
}
h1{
  font-family: var(--font-display);
  letter-spacing: 1px;
  font-size: 8vw;
  line-height: 1.05;
}
h2{
  font-family: var(--font-display);
  letter-spacing: 1px;
  font-size: 8vw;
  line-height: 1.18;
}
h3{
  font-family: var(--font-display);
  letter-spacing: 1px;
  font-size: 3.4vw;
  line-height: 1.18;
}
.white-stroke-text{
    -webkit-text-stroke: 3px white;
     color:transparent;
}